body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    min-height: 100vh;
    border: 2px solid #000;
}

header{
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f4f4f4;
    font-size: larger;
    background-color: rgb(27, 152, 209);
}

h2{
    margin: 0;
    padding: 16px;
    border:  2px solid #333;
    background-color: rgb(27, 152, 209);
    color: #f4f4f4;
    text-align: center;
}

main{
    flex: 3;
    background-color: #f4f4f4;
}

#todoContenido{
    border:  1px solid #000;
    padding: 0px;
    box-sizing: border-box;
}
#content{
    border: 1px solid #333;
    margin: auto;
    font-size: smaller;
    min-height: 100vh;
}

#container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}

.column{
    flex: 1;
    border: 1px solid #000;
    margin: 16px;
    justify-content: center;
    align-items: center;
}

aside{
    position: fixed;
    top: 0;
    right: 0;
    border: 2px solid #000;
    overflow-y: auto; /* Scroll vertical */
    overflow-x: hidden; /* Ocultar scroll horizontal */
    visibility: hidden;
    margin: 0;
    align-items: center;
    box-sizing: border-box;
    width: 15.2%;
    height: 100%;
    align-content: center;
}

.producto{
    border: 1px solid #000;
    margin: 10px;

}
.nombre_producto{
    font-weight: bold;
    background-color: rgb(125, 196, 230);
    color: #f4f4f4;
    padding: 6px;
}

.nombre_producto_carrito{
    font-weight: bold;
}
.producto_carrito{
    padding: 10px;
}
span{
    padding: 4px;
    display: block;
}
.boton_comprar{
    padding: 4px;
}
input{
    padding: 4px;
}